.header {
    position: absolute;
    top: 30px;
    right: 20px;
    bottom: auto;
    left: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_mobil {
    position: absolute;
    top: 30px;
    right: 10px;
    left: 10px;
    bottom: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 184px;
    height: 60px;
    margin: 0px;
}

.header_nav_menu {
    width: 443px;
    height: 27px;
    margin: 0px;
}

.header_nav_menu_mobil {
    margin: 248px 38px 248px 39px;
    display: flex;
    width: 243px;
}

.header_list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: flex-end;
}

.header_list_mobil {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.header_link_mobil {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 81.7px;
    color: #CDCDCD;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header_item {
    margin-right: 35px;
}

.header_item_mobil {
    margin:auto    
}

.header_item:first-child {
    margin-left: auto;
}

.header_item:last-child {
    margin-right: auto;
}



.menu-btn {
    display: none;
}

.menu-btn_320 {
    display: block;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 19px;
    right: 0px;
    z-index: 2;
    overflow: hidden;
}

.menu-btn_320 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #F1CDB3;
    transition: all 0.5s;
}

.menu-btn_320 span:nth-of-type(2) {
    top: calc(50% - 7.5px);
}

.menu-btn_320 span:nth-of-type(3) {
    top: calc(50% + 7px);
}

.menu-btn1_320 {
    display: none;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 19px;
    right: 0px;
    z-index: 2;
    overflow: hidden;
    transform: rotate(90deg)
}

.menu-btn1_320 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #F1CDB3;
    transition: all 0.5s;
}

.menu-btn1_320 span:nth-of-type(2) {
    top: calc(50% - 7.5px);
}

.menu-btn1_320 span:nth-of-type(3) {
    top: calc(50% + 7px);

}


.menu {
    display: block;
}
.menu_mobil {
    display: none;
    position: absolute;
    background: #292929;
    right: -40px;
    top: -30px;
}
.menu_mobil_375 {
    display: none;
    position: absolute;
    background: #292929;
    right: -40px;
    top: -30px;
}




/*content-visibility: visible;*/