/* Reset and base styles  */
*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Links */

a,
a:link,
a:visited {
    width: fit-content;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*---------Шрифты---------*/

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

/*styles  */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 40px;
    box-sizing: content-box;
}

/*---------header-----------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0;
    top: 30px;
    z-index: 50;
}

.header__sec {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 50;
}

.header__container {
    position: relative;
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    z-index: 1;
    width: 184px;
    height: 60px;
}

.menu {
    z-index: 1;
    position: absolute;
    right: 40px;
    top: 17px;
}

.menu__list {
    width: 442.7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__list a:hover {
    color: #FAFAFA;
}

.menu__link {
    padding-bottom: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.header__menu-btn {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 20px;
    z-index: 0;
    content-visibility: hidden;
}

.header__menu-btn span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F1CDB3;
    transition: all 0.5s;
}

.header__menu-btn span:nth-of-type(2) {
    top: calc(50% - 9px);
}

.header__menu-btn span:nth-of-type(3) {
    top: calc(50% + 8.5px);
}

.header__menu-btn1 {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 35px;
    z-index: 0;
    content-visibility: hidden;
}

.header__menu-btn1 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F1CDB3;
    transition: all 0.5s;
    transform: rotate(90deg);
}

.header__menu-btn1 span:nth-of-type(2) {
    left: calc(50% - 9px);
}

.header__menu-btn1 span:nth-of-type(3) {
    left: calc(50% + 8.5px);
}

/*-------------header__pets----------*/
.header__pets__menu-btn {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 20px;
    z-index: 0;
    content-visibility: hidden;
}

.header__pets__menu-btn span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #000000;
    transition: all 0.5s;
}

.header__pets__menu-btn span:nth-of-type(2) {
    top: calc(50% - 9px);
}

.header__pets__menu-btn span:nth-of-type(3) {
    top: calc(50% + 8.5px);
}

.header__pets__menu-btn1 {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 35px;
    z-index: 0;
    content-visibility: hidden;
}

.header__pets__menu-btn1 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #707070;
    transition: all 0.5s;
    transform: rotate(90deg);
}

.header__pets__menu-btn1 span:nth-of-type(2) {
    left: calc(50% - 9px);
}

.header__pets__menu-btn1 span:nth-of-type(3) {
    left: calc(50% + 8.5px);
}

.menu__link__pets {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #707070;
}

.menu__list__pets {
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    justify-content: space-between;
}

.menu__list__pets a:hover {
    color: rgba(41, 41, 41, 1);
}

/*-----------main--------------*/
.main {
    flex: 1 1 auto;
}

/*-----------not-only-----------------*/
.screen__content {
    display: flex;
    background: url(./img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}

.not__only {
    display: flex;
}

.not__only__container {
    display: flex;
    margin: 180px 0px 0px 0px;
    width: 100%;
}

.not__only__container>* :not(:last-child) {
    margin: 0px 0px 9.13% 0px;
}

.not__only__content {
    margin: 13.6% 0px auto 0px;
    width: 100%;
}

.not__only__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 275%;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 310px
}

.not__only__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

button {
    background: white;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
}

.button__start__content {
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
    width: 45%;
    height: 52px;
    font-weight: 400;
    font-size: 90%;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.button__start__content a {
    color: #292929;
}

button:hover {
    background: #FDDCC4;
}

.button__start__content:hover {
    background: #FDDCC4;
}

.not__only__puppy {
    max-width: 698px;
    max-height: 728px;
    margin: 0px 0px 0px 3.65%;
}

/*-----------about----------------*/
.about__content {
    display: flex;
    width: 100%;
}

.about {
    display: flex;
}

.about__pets {
    width: 300px;
    height: 408px;
    margin: 6.67% 10% 8.34% 14.6%;
}

.about__pets__content {
    display: flex;
    margin: 7.84% auto 9.5% 0px;
    width: 35.84%;
    flex-direction: column;
}

.about__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 370px;
    padding-bottom: 24px;
}

.about__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.about__text1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__pets__content>* :not(:last-child) {
    margin: 0px 0px 25px 0px;
}

/*-------------aur_friends------------------*/
.aur-friends__content {
    position: relative;
    display: flex;
    background: #F6F6F6;
}

.aur-friends {
    width: 100%;
    display: flex;
    margin: 80px auto 100px;
    flex-direction: column;
    align-items: center;
}

.pets_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__title {
    font-family: 'Georgia,serif';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: .1em;
    text-align: center;
    color: #545454;
}

.slider {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_pets {
    display: flex;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.paig_number {
    font-size: 22px;
    background: #FDDCC4;
    display: flex;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.button_meet_the_rest {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
    width: 261px;
    height: 52px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button_meet_the_rest a {
    color: #292929;
}

.button_meet_the_rest:hover {
    background: #FDDCC4;
}

.card {
    display: flex;
    width: 27.3%;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card_pets {
    width: 100%;
    display: flex;
    padding: 0px 4.4%;
    justify-content: space-between;
}

.card_pets1 {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}

.pets_img {
    width: 100%;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
    margin: 0 auto
}

.pets_card_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.button_primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 69.3%;
    height: 52px;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    justify-content: center;
    margin-bottom: 30px;
}

/*-----------help-----------*/
.help__content {
    display: flex;
    width: 100%;
}

.help {
    display: flex;
    width: 100%;
    margin: 80px auto 100px;
}

.help_content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.help__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 350px;
    height: 91px;
    margin: 0px 35.42% 5%;
}

.list__help {
    display: flex;
    flex-wrap: wrap;
    width: 85.84%;
    height: 100%;
    flex-direction: row;
    align-content: space-between;
    gap: 55px 11.65%;
    justify-content: flex-end;
}

.item__help {
    display: flex;
    max-height: 113px;
    flex-direction: column;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.item__help:last-child {
    margin: 0px 8.4% 0px 0px;
}

.img__help {
    width: 60px;
    height: 60px;
    margin: 0 auto 30px;
}

/*-----------donation-------------*/
.in_addition__content {
    width: 100%;
    display: flex;
    background: #F6F6F6;
}

.in_addition {
    width: 100%;
    display: flex;
}

.img__donation {
    width: 42.1%;
    height: 261px;
    margin: 7.6% 2.5% 9.2% 11.9%;
}

.donation__content {
    display: flex;
    margin: 6.7% auto 8.4% 0px;
    flex-direction: column;
}

.in_addition>* :not(:last-child) {
    margin: 0px 0px 21px 0px;
}

.donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 300px;
}

.donation__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__card {
    display: flex;
    gap: 10px;
    background: #F1CDB3;
    border-radius: 9px;
    justify-content: flex-end;
    width: fit-content;
    position: relative;
    width: 93%;
    height: 41px;
    display: inline;
    text-align: right;
    padding: 2.7% 2.7% 2.7% 17.9%
}

.card__content {
    display: flex;
    width: 319px;
    height: 23px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
}

.img__donation__card {
    width: 30px;
    height: 23px;
    position: absolute;
    left: 3%;
    top: 20%;
}

.card__number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    margin: 0px;
}

.donation__text {
    max-width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

/*-----------footer-------------*/
.footer {
    display: flex;
    background: url(./img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    width: 100%;
}

.footer__content {
    width: 100%;
    display: flex;
    margin: 40px 0px 0px 0px;
}

.contacts {
    display: flex;
    height: fit-content;
    width: 36.7%;
}

.locations {
    display: flex;
    height: fit-content;
    width: 36.7%;
}

.locations>* :not(:last-child) {
    margin: 0px 0px 32px -2px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 3.7% 36.4% 13.7% 0;
    width: 280px;
}

.contacts>* :not(:last-child) {
    margin: 0px 0px 39px 0px;
}

.contacts__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 280px
}

footer a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
}

.contacts__mail {
    width: 251px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__contacts__mail {
    width: 40px;
    height: 32px;
}

.contacts__phone {
    width: 239px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__contacts__phone {
    width: 40px;
    height: 32px;
}

.footer__locations {
    display: flex;
    flex-direction: column;
    margin: 3.4% 35.7% 13.7% 0;
}

.locations__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    height: 90px;
}

.locations__boston {
    width: 285px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__locations__marker {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.locations__london {
    width: 270px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.footer__puppy {
    width: 300px;
    height: 310px;
    margin-left: 1.6%;
}

/*-------------pets--------------*/
.our-pets__content {
    width: 100%;
    display: flex;
    background: #F6F6F6;
    margin: 120px auto 0px
}

.our-pets {
    display: flex;
    margin: 80px auto 100px;
}

.our_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our__title {
    margin: 0 33.34%;
    width: 33.34%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.our__slider {
    margin: 60px auto 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.our__navigation {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.our__card {
    margin: 6px 0 7px 0;
    display: flex;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.our__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our__card_pets {
    width: 100%;
    height: 103.45%;
    ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.our__button_pets {
    font-size: 20px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    margin: 1px;
}

/*--------------modal-window-----------------*/
.modal_window_with_button {
    display: flex;
    position: absolute;
    width: 74.375%;
    height: 62.87%;
    top: 15.262%;
    left: 14.843%;
}

.modal_window {
    display: flex;
    position: absolute;
    width: 94.54%;
    height: 90.58%;
    left: 0px;
    top: 9.43%;
    right: auto;
    background: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
    flex-direction: row;
    align-items: center;
}

.close_button {
    background: none;
    box-sizing: border-box;
    position: absolute;
    width: 52px;
    height: 52px;
    left: 93.49%;
    top: 0px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    opacity: 0.8;
}

  
  .close_button::before,
  .close_button::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 12.5px;
    display: block;
    width: 22px;
    height: 3px;
    background: #000;
  }
  
  .close_button::before {
    transform: rotate(45deg);
  }
  
  .close_button::after {
    transform: rotate(-45deg);
  }
  

.modal_pet_img {
    width: 55.56%;
    height: 100%;
}

.modal_content {
    display: flex;
    margin: 5.89% 1.4% 9.78% 3.3%;
    width: 39%;
    height: 72.4%;
    flex-direction: column;
}

.modal_pet_name {
    margin: 0 auto 8px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal_pet_type {
    margin: 0 auto 41px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal_description {
    margin: 0 auto 40px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.list_modal {
    margin: 2px auto auto 0;
}

.item_modal {
    margin: 0 auto 12px 14px;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    list-style-type: disc;
}

/*--------------------------*/

@media (max-width:1278px) {
    .list__help {
        justify-content: center;
        gap: 55px calc(11.65%/2);
    }

    .item__help:last-child {
        margin: 0px 0px 0px 0px;
    }

}

@media (max-width:990px) {
    .contacts__title {
        font-size: 30px;
        width: 250px;
    }

    .locations__title {
        font-size: 30px;
    }

    .our__title {
        width: 60%;
    }

    .button__start__content {
        width: calc(45%*2);
    }
}

@media (max-width:930px) {
    .help__title {
        margin: 0px 0px 60px 5px;

    }

    .help {
        margin: 79px auto 100px;
    }

    .item__help:last-child {
        margin: 0px 0px 0px 0px;
    }

    .list__help {
        display: flex;
        flex-wrap: wrap;
        width: 88.99%;
        height: fit-content;
        gap: 55px 0px;
        justify-content: space-between;
    }

    .item__help {
        width: 170px;
        height: 113px;
    }

    .footer__puppy {
        margin-top: 4.8%;
        width: 25%;
        height: 100%;
    }

}

@media (max-width:860px) {

    /*-------------------*/
    ._container {
        padding: 0px 30px;
    }

    .header {
        top: 30px;
        left: 0px;
    }

    .header__sec {
        top: 30px;
        left: 0px;
    }

    .menu {
        right: 30px;
    }

    .menu__list {
        width: 442.7px;
    }

    /*-----------------------*/
    .not__only__container {
        flex-direction: column;
        margin: 150px 70px 0px 69px;
    }

    .not__only__container>* :not(:last-child) {
        margin: 0px 0px 42px 0px;
    }

    .not__only__content {
        margin: 0px 9.7% auto 9.7%;
        display: flex;
        flex-direction: column;
    }

    .not__only__content button {
        margin: 0 auto;
    }

    .not__only__puppy {
        max-width: 100%;
        max-height: 593px;
        margin: 100px -70px 0px auto;
    }

    .not__only__text {
        width: 83%;
    }

    /*-----------------------------------*/
    .about__content {
        flex-direction: column-reverse;
    }

    .button__start__content {
        margin: 0 auto 0 23%;
        width: 36%;
        font-size: 105%;
    }

    .about__pets__content {
        margin: 11.3% 19.2% 11.3% 19.5%;
        width: 60%;
    }

    .about__pets {
        margin: 0 auto 100px;
    }

    /*------------------------------*/
    .card_pets {
        padding: 0px 12px;
    }

    .card:not(:last-child) {
        margin: 0px 40px 0px 0px;
    }

    .card {
        width: 50%;
    }

    /*---------------------*/
    .img__donation {
        width: 100%;
        margin: 8.5% auto 14.13%;
    }

    .donation__content {
        margin: 11.3% 23.2% 0;
    }

    .in_addition {
        flex-direction: column-reverse;
    }

    .card__content {
        width: 91%;
    }

    .donation__card:first-child {
        margin: 0px;
    }

    /*----------------------------------*/
    .footer__content {
        display: flex;
        margin: 30px 0px 0px 0px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .contacts {
        width: 39.5%;
        margin: 0px 8.5% 0px 4.8%;
    }

    .locations {
        width: 42.4%;
        margin-right: 0px;
    }

    .contacts__title {
        font-size: 35px;
        width: 280px;
    }

    .locations__title {
        font-size: 35px;
    }

    .footer__contacts {
        margin: 0px 0px 0px 0px;
    }

    .footer__locations {
        margin: 0px 0px 65px 0px;
    }

    .footer__puppy {
        margin: 0 auto 0 29%;
        width: 300px;
        height: 310px;
    }

    /*--------------------*/
    .menu__list__pets {
        width: 440px;
        justify-content: space-between;
    }

    /*--------------------*/
    .our__title {
        margin: 0 auto 0px 21.89%
    }

    .our__card_pets {
        height: 104.45%;
        display: flex;
        margin: 74px 9.2% 3px 9.2%;
        justify-content: space-between;
    }

    .our__card {
        margin: 0px 0 -14px 0;
    }

    .our__slider {
        height: 100%;
        margin: 0px auto 96px
    }

    .our__navigation {
        width: 340px;
        margin: 0 auto 10px;
    }

    .our-pets {
        display: flex;
        margin: 80px auto 65px;
    }

    .modal_window_with_button {
        width: 87%;
        height: 44.87%;
        top: 24%;
        left: 8.7%;
    }

    .modal_pet_type {
        margin: 0 auto 20px 0;
    }

    .modal_description {
        margin: 2px -15px 15px 0;
        font-size: 13px;
        line-height: 110%;
    }

    .item_modal {
        margin: 0 auto 7.3px 14px;
    }

    .modal_window {
        width: 94.54%;
        height: 88.58%;
        left: 0px;
        top: 13.43%;
        right: auto;
    }

    .modal_content {
        margin: -2% 2.4% 9.78% 2%;
        width: 39%;
        height: 72.4%;
    }


}

@media (max-width:767px) {
    ._container {
        padding: 0px 30px;
    }

    .menu {
        right: 0px;
    }

    .header__logo {
        margin-left: 10px;
        z-index: 2;
    }

    .menu__list {
        margin-left: 9px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu__list {
        margin-left: 9px;
        width: 300px;
    }

    .menu__list__pets {
        margin-left: 9px;
        width: 300px;
    }

    .menu__item:not(:last-child) {
        margin: 0px 0px 40px 0px;
    }

    .menu {
        position: absolute;
        left: auto;
        top: -30px;
        width: 0.2px;
        background: #292929;
        content-visibility: hidden;
        transition-duration: 2.0s
    }

    .menu.active {
        display: flex;
        transition-duration: 2.0s;
        content-visibility: visible;
        width: 320px;
        border-radius: 20px 0 0 20px;
        border: 2px solid #ff5722;
        flex-direction: column;
        justify-content: center;
    }

    body.active {
        overflow: hidden;
        box-shadow: rgba(13, 13, 13, 0.04);
    }


    .menu.unactive {
        transition-duration: 2.0s;
        width: 0.2px;
        content-visibility: hidden;

    }

    .menu__link {
        font-size: 32px;
        line-height: 51.8px;
    }

    .header__menu-btn {
        z-index: 2;
        content-visibility: visible;
    }

    .header__menu-btn.active {
        z-index: 0;
        content-visibility: hidden;
    }

    .header__menu-btn.active {
        z-index: 2;
        content-visibility: visible;
    }

    .header__menu-btn1.active {
        z-index: 2;
        content-visibility: visible;
    }

    .header__menu-btn.active {
        z-index: 1;
        content-visibility: hidden;
    }

    /*-----------header__pets---------------*/
    .header__pets__menu-btn {
        z-index: 2;
        content-visibility: visible;
    }

    .header__pets__menu-btn.active {
        z-index: 0;
        content-visibility: hidden;
    }

    .header__pets__menu-btn.active {
        z-index: 2;
        content-visibility: visible;
    }

    .header__pets__menu-btn1.active {
        z-index: 2;
        content-visibility: visible;
    }

    .header__pets__menu-btn.active {
        z-index: 0;
        content-visibility: hidden;
    }

    .menu__link__pets {
        font-size: 32px;
        line-height: 51.8px;
    }

    .menu__list__pets {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu__list__pets a:hover {
        color: rgb(0, 0, 0);
    }

    .modal_window {
        height: fit-content;
        flex-direction: column;
    }
}

@media (max-width:738px) {
    .our__card_pets {
        margin: 0px 9.2% 3px 9.2%;
        justify-content: center;
    }

    .our__card {
        margin: 0px 0 30px 0;
    }
}

@media (max-width: 695px) {
    .card__number {
        font-size: 18px;
    }
}

@media (max-width: 631px) {
    .card__number {
        font-size: 16px;
    }

    /*------------------------*/

    .footer__content {
        display: flex;
        margin: 30px 0px 0px 0px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contacts__title {
        font-size: 25px;
        text-align: center;
        height: 64px
    }

    .locations__title {
        font-size: 25px;
        text-align: center;
        height: 64px;
        width: 240px;
    }

    .locations {
        width: 300px;
        margin: 34px 0px;
    }

    .contacts {
        width: 100%;
        margin: 0 auto;
    }

    .footer__contacts {
        margin: 0px 0px 0px 0px;
        align-items: center;
        width: 100%;
    }

    .footer__locations {
        margin: 8px 0px;
        width: 300px;
        align-content: center;
    }

    .footer__puppy {
        width: 260px;
        height: 269px;
        margin: 0 auto 0;
    }

    .locations>* :not(:last-child) {
        margin: 0px auto 40px auto;
    }

    .locations__boston {
        width: 300px;
        gap: 0px 25px;
    }

    .locations__london {
        width: 300px;
        height: 32px;
        display: flex;
        justify-content: center;
        gap: 0px 50px;
    }


}

@media (max-width: 580px) {
    .card__number {
        font-size: 14px;
    }
}

@media (max-width:510px) {
    ._container {
        padding: 0px 10px;
    }

    .menu__list {
        display: flex;
        justify-content: center;
    }

    .menu__link {
        font-size: 32px;
        line-height: 51.8px;
    }

    .menu__link__pets {
        font-size: 32px;
        line-height: 51.8px;
    }

    .not__only__container {
        flex-direction: column;
        margin: 150px 0px 0px 0px;
    }

    .not__only__content {
        margin: 0px 0px auto 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .not__only__puppy {
        max-width: 260px;
        max-height: 271.77px;
        margin: 105px 0px 0.23px auto;
    }

    .not__only__text {
        width: 100%;
        text-align: center;
    }

    .button__start__content {
        width: 70%;
        font-size: 105%;
        margin: 0;
    }

    .not__only__title {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 0px 40px 0px 40px;
    }

    /*---------------------------*/
    .about__pets__content {
        margin: 42px 28px 40px;
        width: fit-content;
    }

    .about__text {
        text-align: justify;
        padding-bottom: 23px;
    }

    .about__text1 {
        text-align: justify;
    }

    .about__title {
        font-size: 25px;
        max-width: 370px;
        text-align: center;
    }

    .about__pets {
        width: 260px;
        height: 353.6px;
        margin: 0 auto 40.4px;
    }

    /*-----------------------*/
    .aur-friends {
        margin: 45px auto 40px;
    }

    .slider {
        flex-direction: column;
        margin: 43px auto;
    }

    .pets__title {
        font-size: 25px;
        line-height: 31.5px;
    }

    .card_pets1 {
        margin: 19px auto 0px;
        width: 185px;
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 98%;
    }

    /*-----------------------*/
    .help__title {
        font-size: 25px;
        height: 64px;
        margin: 0px 30px 42px;
        width: fit-content;

    }

    .img__help {
        width: 60px;
        height: 51px;
        margin: 0 auto 20px;
    }

    .item__help {
        font-size: 15px;
        width: 125px;
        height: fit-content;
    }

    .item__help:last-child {
        margin: 0px 0px 0px 0px;
    }

    .item__help:not(:last-child) {
        margin: 0px 0px 0px 0px;
    }

    .list__help {
        display: flex;
        margin: 0px 0px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 285px;
        gap: 29px 0px;
    }

    .help {
        margin: 42px auto 43px;
    }

    /*---------------------------*/
    .img__donation {
        width: 86.7%;
        height: 45.1%;
        margin: 14% 6.7%;
    }

    .donation__content {
        margin: 42px 0px 0px 0px;
        align-items: center;
    }

    .donation__title {
        font-size: 25px;
        text-align: center;
    }

    .donation__subtitle {
        letter-spacing: 0em;
    }

    .donation__text {
        max-width: 280px;
        text-align: justify;
        margin-top: -4px;
    }

    .card__number {
        font-size: 17px;
    }

    .card__content {
        width: fit-content;
    }

    .in_addition>* :not(:last-child) {
        margin: 0px 0px 24px 0px;
    }

    .donation__card {
        width: 75%;
    }


    /*----------------------------------*/
    /*----------------------*/
    .our__slider {
        flex-direction: column;
        margin: 40px auto 0px
    }

    .our__title {
        font-size: 25px;
        line-height: 32.5px;
        width: 290px;
        margin: 0 auto;
    }

    .our__card_pets {
        height: fit-content;
        margin: 0px 0px 15px 0px;
        flex-direction: column;
    }

    .our__navigation {
        width: 300px;
        margin: 0 auto 10px;
    }

    .our-pets {
        display: flex;
        margin: 42px auto 30px;
    }

    .modal_pet_img {
        display: none;
    }

    .modal_window_with_button {
        width: 72.5%;
        height: 45.87%;
        top: 21.5%;
        left: 12.7%;
    }

    .modal_window {
        width: 103%;
        top: 14.43%;
    }

    .modal_content {
        margin: 0 0 0 0;
        width: 100%;
        height: 100%;
    }

    .modal_pet_name {
        margin: 12px auto 9px;
    }

    .modal_pet_type {
        margin: 0 auto 20px auto;
        text-align: center;
    }

    .modal_description {
        margin: 1px 10px 18px 9px;
        line-height: 107%;
    }

    .list_modal {
        margin: 6px auto auto 0;
    }

    .item_modal {
        margin: 0 auto 7.3px 24px;
    }
}

@media (max-width:405px) {
    .donation__card {
        width: 80%;
    }
}

@media (max-width:375px) {
    ._container {
        padding: 0px 10px;
    }

    .menu__list {
        display: flex;
        justify-content: center;
    }

    .not__only__container {
        flex-direction: column;
        margin: 150px 0px 0px 0px;
    }

    .not__only__content {
        margin: 0px 0px auto 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .not__only__puppy {
        max-width: 260px;
        max-height: 271.77px;
        margin: 105px 0px 0.23px auto;
    }

    .not__only__title {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 0px 40px 0px 40px;
    }

    /*---------------------------*/
    .about__pets__content {
        margin: 42px 28px 40px;
    }


    .about__title {
        font-size: 25px;
        max-width: 370px;
        text-align: center;
    }

    .about__pets {
        width: 260px;
        height: 353.6px;
        margin: 0 auto 40.4px;
    }

    /*-----------------------*/
    .slider {
        flex-direction: column
    }

    .donation__card {
        width: 92%;
    }

}


@media (max-width:320px) {
    ._container {
        padding: 0px 10px;
    }

    .menu.active {
        border-radius: 5px;
        border: 2px solid #ff5722;
    }

    .menu__list {
        display: flex;
        justify-content: center;
    }

    .not__only__container {
        flex-direction: column;
        margin: 150px 0px 0px 0px;
    }

    .not__only__content {
        margin: 0px 0px auto 0px;
        display: flex;
        flex-direction: column;
    }

    .not__only__puppy {
        max-width: 260px;
        max-height: 271.77px;
        margin: 105px 0px 0.23px auto;
    }

    .not__only__title {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 0px 40px 0px 40px;
    }

    /*---------------------------*/
    .about__pets__content {
        margin: 42px 15px 40px 15px;
    }


    .about__title {
        font-size: 25px;
        max-width: 370px;
        text-align: center;
    }

    .about__pets {
        width: 260px;
        height: 353.6px;
        margin: 0px 20px 40.4px 20px;
    }

    /*-----------------------*/
    .slider {
        flex-direction: column
    }
}