/* Reset and base styles  */
*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Links */

a,
a:link,
a:visited {
    width: 100%;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

/*---------Шрифты---------*/

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

/*styles  */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

._container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 40px;
    box-sizing: content-box;
}

/*---------header-----------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 50;
}

.header__sec {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 50;
}

.header__container {
    position: relative;
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 184px;
    height: 60px;
}

.menu {
    z-index: 1;
    position: absolute;
    right: 40px;
    top: 17px;
}

.menu__list {
    width: 444px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__list a:hover {
    color: #FAFAFA;
}

/*
.menu__item:not(:last-child) {
    margin: 0px 35px 0px 0px;
}
*/
.menu__link {
    padding-bottom: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.header__menu-btn {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 53px;
    z-index: 0;
    content-visibility: hidden;
}

.header__menu-btn span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F1CDB3;
    transition: all 0.5s;
}

.header__menu-btn span:nth-of-type(2) {
    top: calc(50% - 9px);
}

.header__menu-btn span:nth-of-type(3) {
    top: calc(50% + 8.5px);
}

.header__menu-btn1 {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 68px;
    z-index: 0;
    content-visibility: hidden;
}

.header__menu-btn1 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F1CDB3;
    transition: all 0.5s;
    transform: rotate(90deg);
}

.header__menu-btn1 span:nth-of-type(2) {
    left: calc(50% - 9px);
}

.header__menu-btn1 span:nth-of-type(3) {
    left: calc(50% + 8.5px);
}

/*-------------header__pets----------*/
.header__pets__menu-btn {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 53px;
    z-index: 0;
    content-visibility: hidden;
}

.header__pets__menu-btn span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #000000;
    transition: all 0.5s;
}

.header__pets__menu-btn span:nth-of-type(2) {
    top: calc(50% - 9px);
}

.header__pets__menu-btn span:nth-of-type(3) {
    top: calc(50% + 8.5px);
}

.header__pets__menu-btn1 {
    width: 30px;
    height: 22px;
    position: absolute;
    left: auto;
    right: 68px;
    z-index: 0;
    content-visibility: hidden;
}

.header__pets__menu-btn1 span {
    border-radius: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #707070;
    transition: all 0.5s;
    transform: rotate(90deg);
}

.header__pets__menu-btn1 span:nth-of-type(2) {
    left: calc(50% - 9px);
}

.header__pets__menu-btn1 span:nth-of-type(3) {
    left: calc(50% + 8.5px);
}

.menu__link__pets {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #707070;
}

.menu__list__pets {
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    justify-content: space-between;
}

.menu__list__pets a:hover {
    color: rgba(41, 41, 41, 1);
}

/*-----------main--------------*/
.main {
    flex: 1 1 auto;
}

/*-----------not-only-----------------*/
.screen__content {
    display: flex;
    background: url(./img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}

.not__only {
    display: flex;
}

.not__only__container {
    display: flex;
    margin: 180px 0px 0px 0px;
    width: 100%;
}

.not__only__container>* :not(:last-child) {
    margin: 0px 0px 9.13% 0px;
}

.not__only__content {
    margin: 13.6% 0px auto 0px;
    width: 100%;
}

.not__only__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 275%;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 310px
}

.not__only__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

button {
    background: white;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
}

.button__start__content {
    background: white;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
    width: 45%;
    height: 52px;
    font-weight: 400;
    font-size: 90%;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.button__start__content a {
    color: #292929;
}

button:hover {
    background: #FDDCC4;
}

.button__start__content:hover {
    background: #FDDCC4;
}

.not__only__puppy {
    max-width: 698px;
    max-height: 728px;
    margin: 0px 0px 0px 3.65%;
}

/*-----------about----------------*/
.about__content {
    display: flex;
    width: 100%;
}

.about {
    display: flex;
}

.about__pets {
    width: 300px;
    height: 408px;
    margin: 6.67% 10% 8.34% 14.6%;
}

.about__pets__content {
    display: flex;
    margin: 7.84% auto 9.5% 0px;
    width: 35.84%;
    flex-direction: column;
}

.about__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 370px;
    padding-bottom: 24px;
}

.about__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.about__text1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__pets__content>* :not(:last-child) {
    margin: 0px 0px 25px 0px;
}

/*-------------aur_friends------------------*/
.aur-friends__content {
    display: flex;
    background: #F6F6F6;
}

.aur-friends {
    width: 100%;
    display: flex;
    margin: 80px auto 100px;
}

.pets_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__title {
    font-family: 'Georgia,serif';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: .1em;
    text-align: center;
    color: #545454;
}

.slider {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_pets {
    display: flex;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.paig_number {
    font-size: 22px;
    background: #FDDCC4;
    display: flex;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.button_meet_the_rest {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 2px solid #F1CDB3;
    width: 261px;
    height: 52px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button_meet_the_rest a {
    color: #292929;
}

.button_meet_the_rest:hover {
    background: #FDDCC4;
}

.card {
    display: flex;
    width: 27.3%;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card_pets {
    width: 100%;
    display: flex;
    padding: 0px 4.4%;
    justify-content: space-between;
}

.card_pets1 {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}

.pets_img {
    width: 100%;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
    margin: 0 auto
}

.pets_card_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.button_primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 69.3%;
    height: 52px;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    justify-content: center;
    margin-bottom: 30px;
}

/*-----------help-----------*/
.help__content {
    display: flex;
    width: 100%;
}

.help {
    display: flex;
    width: 100%;
    margin: 80px auto 100px;
}

.help_content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.help__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 350px;
    height: 91px;
    margin: 0px 35.42% 5%;

}

.list__help {
    display: flex;
    flex-wrap: wrap;
    width: 85.84%;
    height: 100%;
    flex-direction: row;
    align-content: space-between;
    gap: 55px 11.65%;
    justify-content: flex-end;
}

.item__help {
    display: flex;
    max-height: 113px;
    flex-direction: column;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.item__help:last-child {
    margin: 0px 8.4% 0px 0px;
}


.img__help {
    width: 60px;
    height: 60px;
    margin: 0 auto 30px;
}

/*-----------donation-------------*/
.in_addition__content {
    width: 100%;
    display: flex;
    background: #F6F6F6;
}

.in_addition {
    width: 100%;
    display: flex;
}

.img__donation {
    width: 42.1%;
    height: 261px;
    margin: 7.6% 2.5% 9.2% 11.9%;
}

.donation__content {
    display: flex;
    margin: 6.7% auto 8.4% 0px;
    flex-direction: column;
}

.in_addition>* :not(:last-child) {
    margin: 0px 0px 21px 0px;
}

.donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 300px;
}

.donation__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__card {
    display: flex;
    gap: 10px;
    background: #F1CDB3;
    border-radius: 9px;
    justify-content: flex-end;
    width: fit-content;
    position: relative;
    width: 93%;
    height: 41px;
    display: inline;
    text-align: right;
    padding: 2.7% 2.7% 2.7% 17.9%
}

.card__content {
    display: flex;
    width: 319px;
    height: 23px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
}

.img__donation__card {
    width: 30px;
    height: 23px;
    position: absolute;
    left: 3%;
    top: 20%;
}

.card__number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    margin: 0px;
}

.donation__text {
    max-width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

/*-----------footer-------------*/
.footer {
    display: flex;
    background: url(./img/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #211F20;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    width: 100%;
}

.footer__content {
    width: 100%;
    display: flex;
    margin: 40px 0px 0px 0px;
}

.contacts {
    display: flex;
    height: fit-content;
    width: 36.7%;
}

.locations {
    display: flex;
    height: fit-content;
    width: 36.7%;
}

.locations>* :not(:last-child) {
    margin: 0px 0px 32px -2px;
}



.footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 3.7% 36.4% 13.7% 0;
    width: 280px;
}

.contacts>* :not(:last-child) {
    margin: 0px 0px 39px 0px;
}

.contacts__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 280px
}

footer a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
}

.contacts__mail {
    width: 251px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__contacts__mail {
    width: 40px;
    height: 32px;
}

.contacts__phone {
    width: 239px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__contacts__phone {
    width: 40px;
    height: 32px;
}

.footer__locations {
    display: flex;
    flex-direction: column;
    margin: 3.4% 35.7% 13.7% 0;
}

.locations__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    height: 90px;
}

.locations__boston {
    width: 285px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__locations__marker {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.locations__london {
    width: 270px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.footer__puppy {
    width: 300px;
    height: 310px;
    margin-left: 1.6%;
}

/*-------------pets--------------*/
.our-pets__content {
    width: 100%;
    display: flex;
    background: #F6F6F6;
    margin: 120px auto 0px
}

.our-pets {
    display: flex;
    margin: 80px auto 100px;
}

.our_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our__title {
    margin: 0 33.34%;
    width: 33.34%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.our__slider {
    margin: 60px auto 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.our__navigation {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.our__card {
    margin: 6px 0 7px 0;
    display: flex;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*
.our__card:not(:first-child) {
    margin: 15px 15px 15px 15px;
}

.our__card:first-child {
    margin: 0px 0px 0px 10px;
}
*/


.our__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our__card_pets {
    width: 100%;
    height: 103.45%;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.our__button_pets {
    font-size: 20px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #F1CDB3;
    border-radius: 50px;
    margin: 1px;
}

/*-------------------------------*/